<section th:fragment="coreSection" class="core-section">
    <div class="core-content">
        <img src="/images/home/starNight_reverse.png">
        <p class="core-description animate-on-scroll">
            Core Value<br>
            <span class="line-1">MICE STAR</span>
            <span class="line-2">#가능성</span><span class="line-3">을 비춥니다.</span>
        </p>
    </div>
    <div class="card-content">
        <div class="info-card animate-on-scroll">
            <img src="/images/home/core/core1.png">
            <div class="card-text-content">
                <h3>도시의 재발견</h3>
                <p>도시의 MICE 자산을 시각화하여 새로운 전략적 가치를 발견합니다.</p>
            </div>
        </div>
        <div class="info-card animate-on-scroll">
            <img src="/images/home/core/core2.png">
            <div class="card-text-content">
                <h3>글로컬 도시</h3>
                <p>로컬의 고유한 경험을 MICE 전략으로 재해석하여, 글로컬 경쟁력을 갖춘 관광 도시로 성장시킵니다.</p>
            </div>
        </div>
        <div class="info-card animate-on-scroll">
            <img src="/images/home/core/core3.png">
            <div class="card-text-content">
                <h3>지속가능한 관광</h3>
                <p>도시와 사람 사이의 연결을 통해 경험과 경험이 순환하는 관광 구조를 만듭니다.</p>
            </div>
        </div>
    </div>
</section>