<section th:fragment="endSection" class="end-section">
    <div class="end-section-content">
        <section class="background-section">
        </section>

        <div class="curve-divider">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,80 C300,0 900,0 1200,80 L1200,0 L0,0 Z" class="shape-fill"></path>
            </svg>
        </div>

        <section class="white-section">
            <div class="img-content">
                <div class="img-row">
                    <img th:src="@{/images/w_logo/w_logo1.png}" alt="로고 1">
                    <img th:src="@{/images/w_logo/w_logo2.png}" alt="로고 2">
                    <img th:src="@{/images/w_logo/w_logo3.png}" alt="로고 3">
                    <img th:src="@{/images/w_logo/w_logo4.png}" alt="로고 4">
                </div>

                <div class="img-row">
                    <img th:src="@{/images/w_logo/w_logo5.png}" alt="로고 5">
                    <img th:src="@{/images/w_logo/w_logo6.png}" alt="로고 6">
                    <img th:src="@{/images/w_logo/w_logo7.png}" alt="로고 7">
                    <img th:src="@{/images/w_logo/w_logo8.png}" alt="로고 8">
                    <img th:src="@{/images/w_logo/w_logo9.png}" alt="로고 9">
                </div>
            </div>


            <div class="end-description">
            <p>
                <b>MICE STAR의 여정은<br>
                많은 기관의 협력이 있었기에 가능했습니다.</b>
            </p>
           </div>
       </section>
    </div>
</section>
