<header th:fragment="introSection" class="intro_bg">

    <div class="main-content-wrapper">
        <div class="hero-content">
            <div class="hero-img">
                <img src="/images/home/first.png">
            </div>
            <div class="hero-logo">
                <img src="/images/home/arrow.png" alt="Mice Star K Logo">
            </div>
        </div>
        <div class="bottom-logo-container">
            <div class="main-logo">
                <img src="/images/home/bottomMICESTAR.png" alt="Mice Star Main Logo">
            </div>
            <div class="scroll-down-prompt-container">
                <a href="#next-section" class="scroll-down-prompt">
                    <span><b>아래로 내려보세요</b></span>
                    <div class="arrow-down"></div>
                </a>
            </div>
        </div>
    </div>
</header>