<section th:fragment="tagSection" class="tag-section">
    <div class="tag-content">
        <section class="tag-section">
            <div class="tag-row row-1">
                <div class="tag-group">
                    <span class="tag">#이벤트</span><span class="tag">#연결</span><span class="tag">#확장</span><span class="tag">#브랜딩</span><span class="tag tag-blue">#지속가능성</span><span class="tag">#전략</span><span class="tag">#축제</span><span class="tag">#체류</span>
                </div>
            </div>
            <div class="tag-row row-2">
                <div class="tag-group">
                    <span class="tag">#이벤트</span><span class="tag">#연결</span><span class="tag">#확장</span><span class="tag tag-orange">#글로컬</span><span class="tag">#혁신</span><span class="tag">#경험</span><span class="tag">#환대</span><span class="tag">#네트워크</span>
                </div>
            </div>
            <div class="tag-row row-3">
                <div class="tag-group">
                    <span class="tag">#관광</span><span class="tag">#MICE</span><span class="tag">#회의</span><span class="tag tag-orange">#재발견</span><span class="tag">#전시</span><span class="tag">#축제</span><span class="tag tag-blue">#지속가능성</span><span class="tag">#전략</span>
                </div>
            </div>
        </section>
    </div>
</section>