<section th:fragment="MapSelectSection" class="mapselect-section">

    <div class="select-container">
            <a href="/project/map/white" class="select-card select-card--white">
                    <div class="card-visual">
                        <img th:src="@{images/project/whiteMap.png}" alt="white img">
                    </div>

                <div class="card-button">WHITE MAP</div>
            </a>

            <a href="/project/map/black" class="select-card select-card--black">
                <div class="card-visual">
                        <img th:src="@{images/project/blackMap.png}" alt="black img">
                    </div>

                <div class="card-button">BLACK MAP</div>
            </a>

    </div>
</section>