spring:
  application:
    name: MICE STAR

  datasource:
    url: jdbc:h2:mem:micestar
    username: sa
    password: 
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  devtools:
    livereload:
      enabled: true 
  freemarker:
    cache: false
  thymeleaf:
    cache: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    show-sql: true


logging:
  level:
    org.hibernate.sql: debug
    org.springframework.boot.autoconfigure: error