<div th:fragment="archivegrid" class="archive-sections">
    <div class="archive-container">

        <!--상단 제목 영역-->
        <a th:href="@{/archive/Sub/0}" class="archive-title">
            <img th:src="@{images/archive/home/archive_title.png}" alt="제목 영역 타이틀 이미지">
        </a>


        <main class="button-grid">
            <a th:href="@{/archive/Sub/1}" class="grid-item item-1">
                <img th:src="@{images/archive/home/archive1.png}" alt="경안 여행">
            </a>

            <a th:href="@{/archive/Sub/2}" class="grid-item item-2">
                <img th:src="@{images/archive/home/archive2.png}" alt="팔복 덕방">
            </a>

            <a th:href="@{/archive/Sub/3}" class="grid-item item-3">
                <img th:src="@{images/archive/home/archive3.png}" alt="팔복 덕방">
            </a>

            <a th:href="@{/archive/Sub/4}" class="grid-item item-4">
                <img th:src="@{images/archive/home/archive4.png}" alt="팔복 덕방">
            </a>


            <a th:href="@{/archive/Sub/5}" class="grid-item item-5">
                <img th:src="@{images/archive/home/archive5.png}" alt="팔복 덕방">
            </a>
            <a th:href="@{/archive/Sub/6}" class="grid-item item-6">
                <img th:src="@{images/archive/home/archive6.png}" alt="팔복 덕방">
            </a>

            <a th:href="@{/archive/Sub/7}" class="grid-item item-7">
                <img th:src="@{images/archive/home/archive7.png}" alt="팔복 덕방">
            </a>

            <a th:href="@{/archive/Sub/8}" class="grid-item item-8">
                <img th:src="@{images/archive/home/archive8.png}" alt="팔복 덕방">
            </a>

        </main>
    </div>
</div>