body, h1, h2, h3, h4, h5, h6,
button,input,
select{
    font-family: 'Pretendard', sans-serif;
}

.site-footer {
    width: 100%;
    background-color: #ffffff;

    padding: 40px 0;
    font-size: 12px;
    color: #111111;

    border-top: 1px solid #ffffff;
    border-top: 1px solid #111111;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 왼쪽 영역 */
.footer-left {
}

.footer-left img{
    max-width: 300px;
}

.footer-logo {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.footer-links {
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.footer-links .separator {
    margin: 0 10px;
    color: #ccc;
}

.footer-copyright {
    font-size: 12px;
    color: #888;
}

/* 오른쪽 영역 */
.footer-right {
    text-align: left; /* 텍스트 오른쪽 정렬 */
}

.contact-title {
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    margin: 0 0 8px 0;
}

.contact-email {
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    text-decoration: none;
}

.contact-notice {
    font-size: 12px;
    color: #888;
    line-height: 5rem;
    /*margin-top: 8px;*/
}