<header th:fragment="daDakSection" class="dadak-section">
    <div class="dadak-container">

        <div class="dadak-title">
            <img class="dadakLogo" th:src="@{images/dadak/mapLogo.png}" alt="map Logo">
        </div>


        <div class="map-content-wrapper">
            <img class="daDakmap" th:src="@{images/dadak/map.png}" alt="map">

            <div class="left-panels">
                <img class = "num-17 panel" th:src="@{images/dadak/numberMap/17.png}" alt="" data-popup="popup-17">
                <img class = "num-24 panel" th:src="@{images/dadak/numberMap/24.png}" alt="" data-popup="popup-24">
                <img class = "num-11 panel" th:src="@{images/dadak/numberMap/11.png}" alt="" data-popup="popup-11">
                <img class = "num-82 panel" th:src="@{images/dadak/numberMap/82.png}" alt="" data-popup="popup-82">
                <img class = "num-39 panel" th:src="@{images/dadak/numberMap/39.png}" alt="" data-popup="popup-39">
                <img class = "num-84 panel" th:src="@{images/dadak/numberMap/84.png}" alt="" data-popup="popup-84">
                <img class = "num-16 panel" th:src="@{images/dadak/numberMap/16.png}" alt="" data-popup="popup-16">
                <img class = "num-04 panel" th:src="@{images/dadak/numberMap/4.png}" alt="" data-popup="popup-04">
            </div>

            <div class="right-panels">
                <img class = "num-36 panel" th:src="@{images/dadak/numberMap/36.png}" alt="" data-popup="popup-36">
                <img class = "num-38 panel" th:src="@{images/dadak/numberMap/38.png}" alt="" data-popup="popup-38">
                <img class = "num-18 panel" th:src="@{images/dadak/numberMap/18.png}" alt="" data-popup="popup-18">
                <img class = "num-1013 panel" th:src="@{images/dadak/numberMap/1-13.png}" alt="" data-popup="popup-1013">
                <img class = "num-13 panel" th:src="@{images/dadak/numberMap/13.png}" alt="" data-popup="popup-13">
                <img class = "num-83 panel" th:src="@{images/dadak/numberMap/83.png}" alt="" data-popup="popup-83">
                <img class = "num-37 panel" th:src="@{images/dadak/numberMap/37.png}" alt="" data-popup="popup-37">
            </div>
        </div>


        <div class="Map-low-content">
            <div class="map-grid">
                <img th:src="@{images/dadak/low_dec/M.png}" alt="">
                <img th:src="@{images/dadak/low_dec/I.png}" alt="">
                <img th:src="@{images/dadak/low_dec/C.png}" alt="">
                <img th:src="@{images/dadak/low_dec/E.png}" alt="">

                <img th:src="@{images/dadak/low_dec/S.png}" alt="">
                <img th:src="@{images/dadak/low_dec/T.png}" alt="">
                <img th:src="@{images/dadak/low_dec/A.png}" alt="">
                <img th:src="@{images/dadak/low_dec/R.png}" alt="">
            </div>
        </div>


        <div class="low-frame">
            <img th:src="@{images/dadak/low_dec/lowframe.png}" alt="">
        </div>

    </div>
</header>