<div th:fragment="popupFragment">

    <div id="popup-17" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup17.png}" alt="">
            </div>
        </div>
    </div>


    <!--24번 토스트 메시지 띄우기-->
    <div id="toast" class="toast">
        <strong>해당 내용은 준비되지 않았습니다.</strong><br>
        다른 내용을 클릭해보세요!
    </div>

    <div id="popup-11" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup11.png}" alt="">
            </div>
        </div>
    </div>

    <div id="popup-82" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup82.png}" alt="">
            </div>
        </div>
    </div>

    <div id="popup-39" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup39.png}" alt="">
                <img th:src="@{images/dadak/popup_src/popup39_2.png}" alt="">
            </div>
        </div>
    </div>

    <div id="popup-84" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup84.png}" alt="">
            </div>
        </div>
    </div>


    <div id="popup-16" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup16.png}" alt="">
            </div>
        </div>
    </div>


    <div id="popup-04" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup04.png}" alt="">
            </div>
        </div>
    </div>

    <!--오른쪽 패널-->
    <div id="popup-36" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup36.png}" alt="">
            </div>
        </div>
    </div>


    <div id="popup-38" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup38.png}" alt="">
            </div>
        </div>
    </div>

    <div id="popup-18" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup18.png}" alt="">
            </div>
        </div>
    </div>

    <!--1-13   ???-->

    <div id="popup-13" class="popup">
        <div class="popup-content">
            <span class="close"></span>
            <div class="popup-body">
                <img th:src="@{images/dadak/popup_src/popup13.png}" alt="">
            </div>
        </div>
    </div>

<!-- 83 -->
<!-- 37 -->

</div>