@import url('../common/header.css');
@import url('../common/footer.css');
@import url('./animation.css');
@import url('./base.css');
@import url('./layout.css');


.archive-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding-bottom: 100px;
}

.archive-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
    box-sizing: border-box;
}

.archive-title {
    background-color: #4a63f3;
    padding: 80px 120px;
    border-radius: 12px;
    display: flex;
    align-items: center;

    background-image: url("/images/archive/home/archive_title-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.archive-title img {
    width: 100%;
    height: auto;
    display: block;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}


.grid-item {
    border-radius: 12px;
    aspect-ratio: 1 / 1;

    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;

    padding: 15px;
    box-sizing: border-box;

    cursor: pointer;
    transition: transform 0.2s ease;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 60%;
    min-height: 100%;
    object-fit: contain;
}

.item-1 {
    background-image: url("/images/archive/home/archive1-1.png");
}

.item-2 {
    background-image: url("/images/archive/home/archive2-2.png");
}

.item-3 {
    background-image: url("/images/archive/home/archive3-3.png");
}

.item-4 {
    background-image: url("/images/archive/home/archive4-4.png");
}

.item-5 {
    background-image: url("/images/archive/home/archive5-5.png");
}

.item-6 {
    background-image: url("/images/archive/home/archive6-6.png");
}

.item-7 {
    background-image: url("/images/archive/home/archive7-7.png");
}

.item-8 {
    background-image: url("/images/archive/home/archive8-8.png");
}


