<section th:fragment="boxSection" class="box-section">
    <div class="box-container">

        <div class ="box">
            <div class ="box-content">
                <img th:src ="@{/images/brand/Brand.png}" alt="Brand">
                <p>Brand</p>
            </div>
        </div>

        <div class ="box">
            <div class ="box-content">
                <img th:src ="@{/images/brand/Mani.png}" alt="Manifesto">
                <p>Manifesto</p>
            </div>
        </div>

        <div class ="box">
            <div class ="box-content">
                <img th:src ="@{/images/brand/MICE_SDGs.png}" alt="MICE·SDGs">
                <p>MICE·SDGs</p>
            </div>
        </div>
    </div>
</section>