<section th:fragment="brandGridSection" class="brand-grid-section">
    <div class="grid-row top-row">
        <div class="grid-box logo-part">
            <div class="grid-content">
                <div class="image-wrapper">
                    <img class="img-default" th:src="@{/images/brand/brandGrid/logo_half.png}" alt="Logo">
                    <img class="img-hover" th:src="@{/images/brand/brandGrid/logo.png}" alt="Logo Hover">
                </div>
                <p>Logo</p>
            </div>
        </div>

        <div class="grid-box font-part">
            <div class="grid-content">
                <div class="image-wrapper">
                    <img class="img-default" th:src="@{/images/brand/brandGrid/font_half.png}" alt="Font">
                    <img class="img-hover" th:src="@{/images/brand/brandGrid/font.png}" alt="Font Hover">
                </div>
                <p>Font</p>
            </div>
        </div>
    </div>


    <div class="grid-row bottom-row">
        <div class="grid-box color-part ">
            <div class="grid-content">
                <div class="image-wrapper">
                    <img th:src="@{/images/brand/Color.png}" alt="Color">
                </div>
                <p>Color</p>
            </div>
        </div>

        <div class="grid-box icon-part">
            <div class="grid-content">
                <div class="image-wrapper">
                    <img th:src="@{/images/brand/icongraphy.png}" alt="Icongraphy">
                </div>
                <p>Icongraphy</p>
            </div>
        </div>

        <div class="grid-box mokup-part">
            <div class="grid-content">
                <div class="image-wrapper">
                    <img th:src="@{/images/brand/Mokup.png}" alt="Mokup">
                </div>
                <p>Mokup</p>
            </div>
        </div>
    </div>
</section>