<header th:fragment="titleSection" class="brand-title-section">

    <div class="title-content">
        <h2 class="animate-item">Brand</h2>
        <p class="animate-item">MICE STAR는 도시의 MICE 자산을 연결하고, 전략 수립의 기준과 관광 탐색의 좌표를 제공하는 MICE 평가 체계입니다.</p>
    </div>


    <div class="title-description">
        <img th:src="@{/images/brand/brand_title.png}" alt="MICE STAR" class="animate-item">

        <div class="description-text-wrapper">
            <div class="text-item animate-item">
                <img th:src="@{images/brand/brand_title_line.png}">
                <h4>기존 MICE 산업 요소 보완 및 재구성</h4>
                <p>지역 흐름 · 생활 밀착형 체류 가능성</p>
            </div>
            <div class="text-item animate-item">
                <img th:src="@{images/brand/brand_title_line.png}">
                <h4>새로운 평가 요소 추가</h4>
                <p>체류(S), 이동(T), 체험(A), 식문화(R)</p>
            </div>
        </div>
    </div>
</header>