<section th:fragment="ColorSection" class="color-section">
    <div class="color-container">
        <header class="color-intro">
            <h1>Color</h1>
            <p>MICE STAR는 정책적 신뢰와 안정성을 상징하는 MICE Blue와 도시의 활력과 확장 가능성을 담은 STAR Orange를 사용합니다.</p>
        </header>

        <div class="color-content">
            <h3>Color System</h3>

            <div class="oneCard">
                <section class="color-card blue-card">
                    <div class="color-info">
                        <h3>MICE Blue</h3>
                        <p>#2A5EFF</p>
                    </div>
                    <img class="color-icon" th:src="@{images/brand/color_sty/color-arrow1.png}" alt="blue">
                </section>

                <section class="color-card orange-card">
                    <div class="color-info">
                        <h3>MICE Orange</h3>
                        <p>#FF6E19</p>
                    </div>
                    <img class="color-icon" th:src="@{images/brand/color_sty/color-arrow2.png}" alt="orange">
                </section>
            </div>

            <section class="color-scale">
                <h3>Color Scale</h3>
                <img th:src="@{images/brand/color_sty/color-bari1.png}" alt="bari1">
                <img th:src="@{images/brand/color_sty/color-bari2.png}" alt="bari2">
                <img th:src="@{images/brand/color_sty/color-bari3.png}" alt="bari3">
            </section>
        </div>

    </div>
</section>