<section th:fragment="FontSection" class="font-section">
    <div class="font-container">
        <header class="font-intro">
            <h1>Font</h1>
            <p>MICE STAR는 산세리프 형태를 활용해 정보의 직관성을 높이며, 동시에 확장 서체로 지역 맥락에 다른 유연함과 가능성을 상징합니다.</p>
        </header>

        <div class="font-content">
            <section class="font-style">
                <h2>Font Style</h2>
                <img th:src="@{/images/brand/font_sty/font-logo.png}" alt="font style">
            </section>

            <section class="font-title">
                <h2>Title</h2>
                    <img th:src="@{/images/brand/font_sty/font-title.png}" alt="Title">
            </section>

            <section class="font-body-text">
                <h2>Body Text</h2>
                <img th:src="@{/images/brand/font_sty/font-body.png}" alt="body text">
            </section>

        </div>
    </div>
</section>