<Section th:fragment="manifestoSection" class="manifesto-section">
    <div class="manifesto-container">
        <header class="manifesto-intro" aria-labelledby="manifesto-heading">
            <h2>Manifesto</h2>
            <p>MICE STAR 매니페스토는 도시의 가능성을 비추고, 경험을 전략으로 연결하는 우리의 믿을을 담은 선언입니다.</p>
        </header>


        <figure class="manifesto-img">
            <img th:src="@{images/brand/manifesto.png}" alt="manifesto bg">
        </figure>


        <section class="manifesto-description" aria-label="manifesto-des">
            <p>우리는 믿습니다.<br>
                도시의 가능성은 이미 그 안에 존재하며,<br>
                그 흐름을 선명히 비추는 일이 새로운 시작이 될 수 있음을.<br>
            </p>

            <p>MICE STAR는 지역의 MICE 자산을 다시 바라봅니다.<br>
                숨어 있던 경험의 조각과 전략의 실마리를 연결하여,<br>
                도시마다 다른 이야기의 결을 다라갑니다.
            </p>

            <p>여덟 개의 좌표는 그 흐름을 구조화하고,<br>
                각 도시의 가능성을 구체적인 전략으로 전환합니다.<br>
                보여주기 위한 수치가 아닌, 선택과 연결을 위한 이정표로 작동합니다.
            </p>

            <p>
                우리는 도시에게는 지속 가능한 방향을,<br>
                사용자에게는 탐색 가능한 지도를 제공합니다.
            </p>

            <p>
                도시의 이야기가 전략이 되고, 경험이 되는 순간.<br>
                그 변화의 출발점에 MICE STAR가 있습니다.
            </p>

            <p> MICE STAR<br>
                가능성을 비추는, 도시 관광의 새로운 기준.
            </p>
        </section>

    </div>
</Section>