<section th:fragment="NamingSection" class="naming-section">
    <div class="section-container">
        <section class="naming-intro" aria-labelledby="Naming-heading">
            <h1>Naming</h1>
            <h2>MICE STAR는 MICE 관광의 주요 요소와</h2>
            <h3>체류 경험을 함께 조망하고평가하는 확장형 지표 체계입니다.</h3>
        </section>


        <section class="card-grid">
            <div class="card blue">
                <img th:src="@{images/brand/naming/naming_mee.png}">
                <div class="naming-card-content">
                    <h3>Meetings</h3>
                    <p>회의시설 및 강의시설</p>
                </div>
            </div>

            <div class="card blue">
                <img th:src="@{images/brand/naming/naming_inc.png}">
                <div class="naming-card-content">
                    <h3>Incentive Tours</h3>
                    <p>포상관광</p>
                </div>
            </div>

            <div class="card orange">
                <img th:src="@{images/brand/naming/naming_sta.png}">
                <div class="naming-card-content">
                    <h3>Stay in</h3>
                    <p>호텔·숙박시설</p>
                </div>
            </div>

            <div class="card orange">
                <img th:src="@{images/brand/naming/naming_tra.png}">
                <div class="naming-card-content">
                    <h3>Transportations</h3>
                    <p>교통 인프라 및 접근성</p>
                </div>
            </div>

            <div class="card blue">
                <img th:src="@{images/brand/naming/naming_con.png}">
                <div class="naming-card-content">
                    <h3>Conventions</h3>
                    <p>컨벤션 센터</p>
                </div>
            </div>

            <div class="card blue">
                <img th:src="@{images/brand/naming/naming_exh.png}">
                <div class="naming-card-content">
                    <h3>Exhibitions Events</h3>
                    <p>지역 전시·문화·축제</p>
                </div>
            </div>

            <div class="card orange">
                <img th:src="@{images/brand/naming/naming_adv.png}">
                <div class="naming-card-content">
                    <h3>Adventures Activities</h3>
                    <p>체험형 콘텐츠 및 지역 활동</p>
                </div>
            </div>

            <div class="card orange">
                <img th:src="@{images/brand/naming/naming_res.png}">
                <div class="naming-card-content">
                    <h3>Restaurants</h3>
                    <p>지역 식문화·음식점 밀집도</p>
                </div>
            </div>
        </section>


        <div class="voice-background-wrap">
            <section class="voice-intro" aria-labelledby="voice-heading">
                <h1>Brand Voice</h1>
            </section>

            <figure class="voice-img">
                <img th:src="@{images/brand/voice_bg.png}" alt="voice bg">
            </figure>

            <section class="voice-content">
                <div class="voice-text">
                    <h4>Slogan</h4>
                    <p>마이스 관광의 가능성을 비추는 새로운 기준, MICE STAR</p>
                </div>

                <div class="voice-text">
                    <h4>Tagline</h4>
                    <p>지역의 가능성을 비추고, 지속가능한 관광 전략으로 이끕니다.</p>
                </div>

                <div class="voice-text">
                    <h4>Message</h4>
                    <p>가능성을 비추고, 흐름을 연결하며, 전략으로 이끕니다.</p>
                </div>
            </section>
        </div>

        <div class="section-container">
            <section class="icon-content" aria-label="icon-grid">
                <div class="icon-grid">
                    <img th:src="@{images/brand/brand_icon/icon1.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon2.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon3.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon4.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon5.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon6.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon7.png}" alt="icon">
                    <img th:src="@{images/brand/brand_icon/icon8.png}" alt="icon">
                </div>
            </section>
        </div>
    </div>
</section>