<section th:fragment="SdgsSection" class="sdgs-section">
    <div class="sdgs-container">
        <section class="sdgs-description">
            <h1>MICE·SDGs</h1>
            <p>MICE STAR는 도시의 MICE 경험을 SDGs와 접목해, 지속 가능한 관광과 전략적 기준을 제시합니다.</p>
        </section>

        <section class="sdgs-images">
            <img th:src="@{images/brand/sdgs/sdgs1.png}" alt="sdg1">
            <img th:src="@{images/brand/sdgs/sdgs2.png}" alt="sdg2">
            <img th:src="@{images/brand/sdgs/sdgs3.png}" alt="sdg3">
            <img th:src="@{images/brand/sdgs/sdgs4.png}" alt="sdg4">
        </section>

    </div>
</section>